/* Add a background color to the header element */
/* Add a fun background color to the main element */
/* Align the h1 containing your name in the center of the header*/
/* Align the h1 containing your name in the center of the header*/
/* Make your p tag a different color and italic */
/* Put a border around your image */
/* Change the font-family of your list */
/* Add a background color to the footer element */

html, body {
    margin: 0;
    padding: 0;
}



main {
    background-color: #dcb7ff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width 40%;
    border-style: double;
    border-width: 10px;
    border-color: grey;
}
/* I first tried centering the image using a div class around the image and center-aligning it, but that screwed up the border
   Using a display:block fixes the problem for the most part?*/


.listy {
display:block;
width: 40%;
margin-left: auto;
margin-right: auto;
font-size: 25px;
font-family: "Catamaran", sans-serif;
}

#heading-one {
    background-color: #ffa426;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
/* I changed the h1 from a normal header, to a div class, to an id, all in an attempt to erase the space on the top & bottom.
For some reason this worked and I'm not entirely sure why.*/

#foot {
    color: goldenrod;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    background-color: #a8edff;
    margin-top: 0;
    margin-bottom: 0;
}
/* Here I tried to replicate what I did with the previous id, but there is still a gap between the main body and the footer. 
Using developer tools doesn't help as it's hard to pinpoint which section the gap belongs to.

For some reason on the automatic tests it says I don't have a header & footer background color, is it because I referred to the id
in css instead of the footer/header element?*/

